* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", serif;
}


/* ===== +NAVBAR+ ===== */
header {
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: aliceblue;
}

nav {
    width: 60%;
    margin: auto;
    padding-left: 30px;
    padding-right: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-block;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #070731;
}

.nav-item:hover {
    border-top: 1px solid black;
}

.nav-item:hover a {
    color: #320032;
}

.logo img {
    max-height: 75px;
    vertical-align: middle;
}
/* ===== -NAVBAR- ===== */

/* ===== +HERO+ ===== */
.hero {
    min-height: calc(100vh - 75px);
    padding-top: 75px;
    display: flex;
    width: 55%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.hero h1 {
    color: #070731;
    font-size: 3em;
    margin-bottom: 20px;
}

.hero h2 {
    color: #4150ec;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hero p {
    line-height: 1.5em;
    text-align: justify;
}

.hero .info {
    display: inline-block;
}

.hero img {
    border-radius: 50%;
    margin-left: 70px;
}

.hero button {
    width: 200px;
    height: 60px;
    background-color: #4150ec;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border-radius: 100px;
    border: none;
    margin-top: 40px;
    font-size: 0.9em;
    cursor: pointer;
}
/* ===== -HERO- ===== */

/* ===== +ABOUT+ ===== */
.about {
    min-height: calc(100vh - 75px);
    background-color: #170442;
}
/* ===== -ABOUT- ===== */
